.projectBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 450px;
    background-color: #252527;
}

.iconBlock {
    height: 180px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    position: relative;
}

.icon::before {
    position: absolute;
    content: '';
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.link {
    padding: 5px;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    color: white;
    background-color: #252527;
    font-weight: 300;
}

.projectInfo {
    padding: 25px 20px;
}

.title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0 0 5px;
    line-height: 1.2;
    color: white;
}


.description {
    line-height: 1.8;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
}