.skillsBlock {
    background-color: darkmagenta;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.skills {
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title{
    background-color: darkgoldenrod;
}